.darkBlue {
    background-color: #146eff;
}
.bg-dark {
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(225,225,225,0.05));;
}
.bg-grey {
    background-color: #ebeff0;
}
.bg-red {
    background-color: #CF2121;
}
.bg-light-grey {
    background-color: #F0F0F0;
}
.bg-ligght-grey {
    background-color: #f8f8f8;
}
.bg-fade-yellow {
    background-color: #FFF7EA;
}
.bg-yellow {
    background-color: #FFC351;
}